./flowerytrails/Edge.class
./flowerytrails/FloweryTrails$1.class
./flowerytrails/FloweryTrails.class
./flowerytrails/Vertex.class
./translatorsdinner/Edge.class
./translatorsdinner/translatorsdinner.class
./cookieselection/cookieselection$1.class
./cookieselection/cookieselection.class
./guessinggame/guessinggame.class
./cd/cd.class
./arbitrage/Edge.class
./arbitrage/UF.class
./arbitrage/arbitrage.class
./functionalfun/functionalfun.class
./metaprogramming/metaprogramming.class
./multigram/multigram.class
./toys/toys.class
./industrialspy/industrialspy.exe
./stararrangements/stararrangements.exe
./tray/tray.exe
./anti11/anti11.exe
./hangingout/hangingout.exe
